.girisler {
    margin-left: 2px;
    gap: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-right: 100px;
width: 400px;;
}

.kullanici {
    color: white;
    background-color:#c3284c;
    margin-left: 12px;
    gap: 5px;
    margin-right: 100px;
    width:  150px;
    border-radius: 5%;
}

